pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lsp/
.shadow-cljs/
node_modules/
.clj-kondo/.cache
/public/js
/public/main.css
.idea
*.iml
.calva
.clj-kondo/com.pitch/
public_domain_texts/*.txt
.DS_Store
.clj-kondo/com.github.seancorfield/
.clj-kondo/metosin/
TEMP/
public_domain_texts/.DS_Store
