:root {
    --color-accent: #b9c5df;
    --color-text: #173878;
    --light-bg: #f6f6f6;
    --app-bg: #fafafa;
    --light-text: #369;
    --error-text: rgb(208, 51, 51);
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

h2 {
    color: var(--color-text);
}

h4, h5 {
    color: var(--light-text);
}


h1, h2, h3, h4, h5 {
    margin: auto 0;   
    font: 700  'Playfair Display', sans-serif;
}

h1 {
    color: #000;
}


body {
    margin: 0;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

#root {
  margin: auto;
  display: flex;
  padding: 24px;
}

input {
  font-family: 'Inter', sans-serif;
}


label {
    padding: 0 8px 0 0;
}

.app {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 48px);
    height: calc(100vh - 48px);
    overflow-y: scroll; 
    min-width: 700px;
}

.app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px 0;
    margin: 0 0 0 12px;
}

.input-wrapper {
  flex-flow: wrap;
  background: var(--light-bg);
  border: 2px solid var(--color-accent);
  color: var(--color-text);
  z-index: 10;
  border-radius: 10px;
  flex: 0  88px;
  padding: 6px 12px 18px 12px !important;
  display: flex;
  position: sticky;
  top: -42px;
  margin: 0 0 12px 0 !important;
  gap: 6px;
}

.input-wrapper  .buttons {
  margin: 4px 0 0 0;
}

.input-wrapper .row {
  padding: 0 !important;
}

.elapsed {
    font-size: 16px;
    font-weight: 800;
    padding-left: 8px;
}

.file-link, .focussed-result {
  background: linear-gradient(to bottom, rgba(222,255,0,1) 0%,rgba(222,255,0,0.5) 60%,rgba(222,255,0,1) 100%);
  font-weight: 900;
  color: #000;
}

.text-input-wrapper {
    flex: 1 1 50%;
    width: 100%;
    height: 64px;
}

.text-input {
  flex: 1 !important;
  margin-right: 64px !important;
}

.query-stats {
  margin: 0 0 0 auto !important;
  transform: translateY(12px);
}

hr {
  margin: 24px 0;
}

.file {
    border-bottom: 2px solid var(--color-accent);
    padding: 8px 12px 24px 12px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    font-weight: 200;
}

.file-header {
    display: flex;
    padding: 2px 16px;
    border-bottom: 2px solid var(--color-accent);
    background: var(--light-bg);
    border-radius: 4px 4px;
    align-items: left;
    justify-content: space-between;
    font-weight: 500;
}

.error {
    flex: 1;
    color: var(--error-text);
    padding: 8px 16px 4px 16px;
}

.file-error {
    position: sticky;
    top: 0; 
    z-index: 4;
    color: #c00;
}

.file-loader {
    width: 90vw;
}

.file-search {
    z-index: 3;
    height: 360px;
    position: sticky;
    top: 10px;
    margin: 0 auto;
    width: 350px;
    float: right;
    padding: 0 0 0 24px;
}

.file-search .text-input {
    margin: 12px 0 24px 0;
}

.search-controls {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.file-title {
  z-index: 2;
  background: #fff;
  padding: 12px 0 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.search-result {
    font-size: 14px;
    font-weight: 700;  
}

.z-index-force-overlay {
    position: relative;
    z-index: 5;
}

.offset-popup {
  transform(translateY(44px));
}


[data-tooltip][data-position= "bottom left"]:hover:after, 
[data-tooltip][data-position= "bottom right"]:hover:after, 
[data-tooltip][data-position= "top left"]:hover:after, 
[data-tooltip][data-position= "top right"]:hover:after
{
  max-width: 40vw;
  min-width: 25vw;
  text-wrap: pretty;
}