:root {
    --color-accent: #b9c5df;
    --color-text: #173878;
    --light-bg: #f6f6f6;
    --app-bg: #fafafa;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

h1, h2 {
    padding: 0;
    color: var(--color-text);
    font-weight: 100;
}

h1, h2, h3, h4, h5 {
    margin: 0;   
}

h1 {
    font-weight: 500;
}


body {
    margin: 0;
    font: 400 14px 'Inter', sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

input {
    font-family: 'Inter', sans-serif;
}

a {
    color: var(--color-accent);
    font-weight: 500;
}

.app {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    width: 90vw;
    background: var(--app-bg);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--color-accent);
}

.app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0;
    margin: auto;
    text-align: center;;
}

.app-footer {
    text-align: center;
    padding: 8px 0;
}

.text-input-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 0px 12px;
    background: var(--light-bg);
    border-left: none;
    border-right: none;
    border-top: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
    color: var(--color-text);
    position: sticky;
    top: 0px;
    z-index: 2;
}

.text-input {
    font-size: 18px;
    margin: 24px 0;
    padding: 12px 12px;
    border: 2px solid var(--color-accent);
    color: var(--color-text);
}

.file {
    border-bottom: 2px solid var(--color-accent);
    padding: 8px 12px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    font-weight: 200;
}

.file-header {
    display: flex;
    padding: 2px 16px;
    border-bottom: 2px solid var(--color-accent);
    background: var(--light-bg);
    border-radius: 4px 4px;
    align-items: left;
    justify-content: space-between;
    font-weight: 500;
}

.file-control {
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
}

.file-text {
    flex: 1;
    color: var(--color-text);
    padding: 8px 16px 4px 16px;
}


